<div class="header">
  <div class="container">
    <a class="logo" routerLink="/">
      <p>AppCo</p>
    </a>
  </div>
</div>
<main>
  <div class="container">
    <div class="nav">
      <a routerLink="/">Main page</a>
      <div class="arrow">
      </div>
      <a routerLink="/users">User satistics</a>
      <div class="arrow">
      </div>
      <div class="active">Name</div>
    </div>
    <div class="container">
      <h2>Name</h2>
      <h3>Clicks</h3>

      <div class="chart-container">
        <canvas id="clickCanvas"></canvas>
      </div>

      <h3>Vievs</h3>
      <div class="chart-container" style="position: relative; height:40vh; width:70vw">
        <canvas id="viewsCanvas"></canvas>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <div class="content">
      <p class="footer-logo">AppCo</p>
      <p>All rights reserved by ThemeTags</p>
      <p>Copyrights © 2019.</p>
    </div>
  </div>
</footer>
